<h1 class="text-center sm mb-5 mt-5">Write a note:</h1>
<form class="w-50 border p-3 m-auto" action="/note" method="POST">
    <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-control" type="text" name="title">
        
        <label for="text">Notes</label>
        <textarea class="form-control" rows="3" id="editor" name="text"></textarea>
    </div>
    <button class="btn btn-primary m-auto" type="submit">Save note</button>
</form>

