<h1 class="text-center sm mb-5 mt-5">Edit your note:</h1>


<form class="w-50 border p-3 m-auto" action="/saveedit/{{note._id}}" method="POST">
    <input type="hidden" name="_method" value="PUT">

    <div class="form-group">
        <label for="editTitle">Title:</label>
        <input class="form-control" type="text" value="{{note.title}}" name="editTitle">
        
        <label for="editText">Notes</label>
        <textarea class="form-control" rows="10" id="editor" name="editText">{{note.text}}</textarea>
    </div>

    <button class="btn btn-primary m-auto" type="submit">Save edit</button>
</form>
