
<header>
    <h1 class="text-center m-5 text-bold">Quick Notes</h1>
</header>

<form class="form-control m-auto w-50 p-3" style="min-height: 200px;">
<h2 class="text-center mb-4 p-3">Sign in</h2>
<div class="text-center social-btn">
    <a href="/google" class="btn btn-danger btn-block w-75 m-auto"><i class="fab fa-google"></i> Sign in with <b>Google</b></a>
</div>
</form>

